# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [7]:
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize
import urllib

In [19]:
# your code here
url='https://www.zalando.fr/api/catalog/articles?categories=promo-femme&limit=84&offset=84&sort=popularity'

In [21]:
response=requests.get(url)
response = urllib.request.urlopen(url)
results = json.load(response)


flattened_data = json_normalize(results)
flattened_data1 = json_normalize(flattened_data.articles[0])
flattened_data1.head()

<ipython-input-21-bacdb5aceb42>:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)
<ipython-input-21-bacdb5aceb42>:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data1 = json_normalize(flattened_data.articles[0])

,sku,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,outfits
0,GU111A0RH-O11,RIVET - Baskets basses - brown/ocra,"[35, 36, 37, 38, 39, 40, 41]",guess-rivet-baskets-basses-brownocra-gu111a0rh...,[{'path': 'spp-media-p1/02b5a9dfd82139d9809280...,Guess,False,[],"[{'key': 'discountRate', 'value': '-10%', 'tra...",shoe,[],"129,95 €","116,95 €",False,False,False,False,NaN
1,TO121I09U-K11,HERITAGE V NECK - Pullover - midnight,"[XS, S, M, L, XL, XXL]",tommy-hilfiger-heritage-v-neck-pullover-to121i...,[{'path': 'spp-media-p1/80cd5e6bd8f937aca51bdc...,Tommy Hilfiger,False,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",clothing,[],"99,95 €","69,95 €",False,False,False,False,NaN
2,AN621C1GW-Q11,Robe fourreau - black/white,"[36, 38, 40, 42, 44, 46]",anna-field-robe-en-jersey-blackwhite-an621c1gw...,[{'path': 'spp-media-p1/2eec136c200836a5b6d1a2...,Anna Field,False,[],"[{'key': 'discountRate', 'value': '-15%', 'tra...",clothing,[],"34,99 €","29,89 €",False,False,False,False,NaN
3,VE121G0OG-Q11,VMRIA SHORT JACKET - Veste en similicuir - black,"[XS, S, M, L]",vero-moda-vmria-short-jacket-veste-en-similicu...,[{'path': 'spp-media-p1/dec5088239563452b0d97a...,Vero Moda,False,[],"[{'key': 'discountRate', 'value': '-10%', 'tra...",clothing,[],"39,99 €","35,99 €",False,False,False,False,NaN
4,SU221J0BL-K12,LABEL ZIPHOOD - veste en sweat zippée - eclips...,"[XXS, XS, S, M, L, XL]",superdry-orange-label-veste-en-sweat-zippee-su...,[{'path': 'spp-media-p1/85ee5ce0110a34bbb2552c...,Superdry,False,[],"[{'key': 'discountRate', 'value': 'Jusqu’à -30...",clothing,[],"79,99 €","55,99 €",True,False,True,False,NaN

In [33]:
# total de paginas
total_pages=results['pagination']['page_count']

#### Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

In [36]:
#no llega al final del número de páginas porque es demasiada información (creo)
for i in range(2,total_pages):
    k=84*i
    df=flattened_data1
    url=f'https://www.zalando.fr/api/catalog/articles?categories=promo-femme&limit=84&offset={k}&sort=popularity'
    response = urllib.request.urlopen(url)
    results = json.load(response)

    flattened_data = json_normalize(results)
    flattened_data1=json_normalize(flattened_data.articles[0])
    flattened_data1=flattened_data1.set_index('sku')
    df = df.append(flattened_data1)
    print(f"getting page {i} of {total_pages}", end='\r')

df

<ipython-input-36-261f73cadcb9>:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data = json_normalize(results)
<ipython-input-36-261f73cadcb9>:9: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  flattened_data1=json_normalize(flattened_data.articles[0])

IncompleteRead: IncompleteRead(188615 bytes read)

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [40]:
# lo hago con la información que ha podido sacar
df.head()

,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,price.original,price.promotional,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,amount
sku,,,,,,,,,,,,,,,,,
NEG21C07H-K12,ADORABLE - Robe de cocktail - light blue,"[34, 40, 46]",nly-by-nelly-adorable-robe-de-cocktail-neg21c0...,[{'path': 'spp-media-p1/937c066b414e3b518bffb4...,Nly by Nelly,False,[],"[{'key': 'discountRate', 'value': '-40%', 'tra...",clothing,[],"59,95 €","35,95 €",False,False,False,False,NaN
JY121I0A6-Q11,Gilet - black,"[XS, S, M]",jdy-jdynine-o-neck-gilet-black-jy121i0a6-q11,[{'path': 'spp-media-p1/b13ce3631791386b87c2d4...,JDY,False,[],"[{'key': 'discountRate', 'value': '-20%', 'tra...",clothing,[],"26,99 €","21,59 €",False,False,False,False,NaN
LUF11A00E-A11,LISETTE - Sandales à talons hauts - white,"[36, 38, 40, 41]",lulipa-london-lisette-sandales-compensees-whit...,[{'path': 'spp-media-p1/e19929e471e0398fb2911a...,Lulipa London,False,[],"[{'key': 'discountRate', 'value': '-20%', 'tra...",shoe,[],"104,95 €","83,95 €",False,False,False,False,NaN
EV411A0KN-Q11,Sandales à talons hauts - black,"[36, 37, 38, 39, 40, 41, 42]",evenandodd-sandales-black-ev411a0kn-q11,[{'path': 'spp-media-p1/98ff74ec6e513897946832...,Even&Odd,False,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",shoe,[],"43,99 €","30,99 €",False,False,False,False,NaN
DP521E1FQ-A11,ORGANZA DAISY TEE - Blouse - ivory,"[34, 36, 38, 40, 42, 44, 46]",dorothy-perkins-daisy-blouse-ivory-dp521e1fq-a11,[{'path': 'spp-media-p1/8e84b521df55351493e03c...,Dorothy Perkins,False,[],"[{'key': 'discountRate', 'value': '-30%', 'tra...",clothing,[],"34,99 €","24,59 €",False,False,False,False,NaN

In [41]:
#marca más popular
df.brand_name.value_counts().index[0]

'Anna Field'

In [62]:
df['price.original']=((df['price.original'].apply(lambda x: x.replace('\xa0€',''))).apply(lambda x: x.replace(',','.'))).apply(lambda x:float(x))
df['price.promotional']=(df['price.promotional'].apply(lambda x: x.replace('\xa0€',''))).apply(lambda x: x.replace(',','.')).apply(lambda x:float(x))

In [73]:
df['discount']=df['price.original']-df['price.promotional']

In [101]:
#producto con mayor descuento absoluto
df.sort_values(by='discount',ascending=False).name[0]

'HOCHWERTIGE - Sac à main - schwarz'

In [109]:
df1=df.copy()

In [116]:
##The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).
#
df1=df1.groupby('brand_name').agg({'discount':'sum','price.original':'sum'}).sort_values(by='discount',ascending=False)
df1['total discount']=round(df1['discount']/df1['price.original']*100,2)
df1.head()

                 discount  price.original  total discount
brand_name
Silvio Tossi       233.05          333.00           69.98
Leabags             90.97          169.95           53.53
Vila                86.40          426.95           20.24
Nike Sportswear     77.00          294.85           26.11
mbyM                64.00          199.95           32.01