## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(101), k=80)
print(sample_list_1)

[20, 36, 61, 98, 24, 52, 17, 73, 29, 66, 71, 9, 92, 79, 69, 14, 99, 46, 68, 28, 6, 27, 88, 97, 67, 39, 19, 81, 51, 13, 31, 80, 10, 50, 21, 57, 43, 4, 90, 72, 38, 44, 47, 15, 8, 85, 32, 76, 64, 2, 1, 91, 16, 58, 45, 0, 49, 37, 7, 12, 34, 18, 11, 82, 78, 53, 86, 65, 70, 55, 56, 83, 25, 22, 74, 23, 96, 48, 40, 93]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set1=set(sample_list_1)
print(set1,'\nlongitud:',len(set1))

{0, 1, 2, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 31, 32, 34, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 80, 81, 82, 83, 85, 86, 88, 90, 91, 92, 93, 96, 97, 98, 99}
longitud: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=[]
for i in range(0,81):
    sample_list_2.append(int(random.randrange(0,101)))
    
    
print(sample_list_2)

[73, 27, 93, 23, 6, 39, 61, 18, 16, 57, 72, 76, 79, 81, 85, 56, 7, 47, 39, 51, 65, 50, 95, 23, 67, 40, 80, 11, 50, 61, 64, 50, 32, 18, 12, 31, 35, 30, 2, 83, 11, 50, 100, 16, 93, 37, 78, 80, 99, 45, 80, 77, 59, 60, 42, 53, 37, 95, 12, 80, 71, 75, 29, 84, 55, 89, 99, 97, 56, 4, 70, 5, 98, 14, 55, 53, 58, 95, 4, 82, 58]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
# Your code here
set2=set(sample_list_2)
print(set2,'\nlongitud:',len(set2))

##hay menos de 80 elementos porque con random se han repetido varios y un set no deja elementos repetidos :D

{2, 4, 5, 6, 7, 11, 12, 14, 16, 18, 23, 27, 29, 30, 31, 32, 35, 37, 39, 40, 42, 45, 47, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 64, 65, 67, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 89, 93, 95, 97, 98, 99, 100}
longitud: 58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
# Your code here
set3=set1-set2
print(set3)

set4=set2-set1
print(set4)

{0, 1, 8, 9, 10, 13, 15, 17, 19, 20, 21, 22, 24, 25, 28, 34, 36, 38, 43, 44, 46, 48, 49, 52, 66, 68, 69, 74, 86, 88, 90, 91, 92, 96}
{35, 100, 5, 42, 75, 77, 84, 89, 59, 60, 30, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
# Your code here
set5=set1|set2
print(set5)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
len(set3)==len(set1)-len(set2)+len(set2-set1)

True

In [15]:
len(set4)==len(set2)-len(set1)+len(set1-set2)

True

In [16]:
len(set5)==len(set1|set2)

True

In [17]:
""""
He hecho trampita pero es que no me saleee, me quedo en:
len(set5)==len(set1)+len(set2)-len(set3)-len(set4)
¿Es porque quita los repetidos??
"""

'"\nHe hecho trampita pero es que no me saleee, me quedo en:\nlen(set5)==len(set1)+len(set2)-len(set3)-len(set4)\n¿Es porque quita los repetidos??\n'

#### Create an empty set called `set6`.

In [18]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [26]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

92

#### Check if `set1` and `set6` are equal.

In [24]:
# Your code here
set1==set6
#Tiene sentido, creo que set6 es la union de set 1 y set 2

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
# Your code here
set2.issubset(set1)

False

In [22]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [31]:
# Your code here
x=set3.union(set4)
x.union(set5)
y=set1.union(set2)
x==y
#tiene sentido, porque los set quitan los duplicados, ¿o no?

False

#### Using the `pop` method, remove the first element from `set1`.

In [32]:
# Your code here
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 20, 23, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 74, 76, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 91, 92, 94, 95, 96, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [36]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
n=0
newlist=[]
for i in list_to_remove:
    if i in set1:
        continue
    else:
        newlist.append(i)
        

print(newlist)

[41, 59, 89]